.section-parrafo {
    font-size: 10px;
    font-family: 'nunito', sans-serif;
}

.section-title {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}


.black {
    color: #212529 !important;
}

.gray {
    color: #767676 !important;
}

.white {
    color: white;
}

.textss {
   width: 370px;
}